body{
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow:hidden;
  font-family: 'Spectral', serif;
}

h1{
  visibility: hidden;
  position: absolute;
}

.container{
  margin: 0 auto;
}

.menu{
  text-align: center;
  background-color: #bdc3c7;
  margin-bottom: 2%;
}

.game{
  width: 30%;
  margin: 0 auto;
}

.nextMove{
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 5%;
  background: lighten(#3498db, 30);
  transition: opacity 0.7s;
  opacity: 0;
  font-size: 25px;
  font-weight: lighter;

  span{
    color: #e67e22;
    text-transform: capitalize;
    font-weight: bold;
  }
}

.nextMove--visible{
  opacity: 1;
}

.result-playerName{
  color: #27ae60;
  text-transform: uppercase;
}



.result{
  height: 100%;
  width: 100%;
  position: absolute;
  visibility: hidden;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(44, 62, 80, 0.9);

  z-index: 20;
  text-align: center;

  div{
    margin-top: 3%;
    margin-bottom: 1%;
  }

  span{
    display: inline-block;
  }
}


.result--visible{
   visibility: visible;
   animation: divin 0.7s;
}

.result-text{
  font-size: 35px;
  background: darken(rgba(44, 62, 80, 0.9), 10);
  padding: 1%;
  color: white;
  border-radius: 20px;
  margin-bottom: 1%;
  font-weight: bold;
}

.field{
  position: relative;
  float: left;
  width: 32%;

  border-width: 0.5px;
  border-style: solid;
  border-color: black;

  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
    cursor: pointer;

  &:after{
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &:hover{
     transform:scale(1.02 ,1.02);
     z-index: 10;
  }
}


@each $player in x, o{
  .movement--#{$player}{
    background-image: url("img/#{$player}.png");
    background-size: cover;
    background-position: cover;
      cursor: default;
  }
}

.number{
  position: absolute;
}

.options{
  text-align: center;
    cursor: pointer;
}

button{
  font-weight: bold;
  background-color: rgba(236, 240, 241,1.0);
  color: #34495e;
  border: none;
  border-radius: 6px;
  border: 1px solid;
  height: 40px;
  width: 300px;
  font-size: 15px;
    cursor: pointer;

    &:disabled{
      opacity: 0.4;
    }
}

@keyframes divin {
  from {opacity: 0;}
  to {opacity: 1;}
}
